<h2>Title: <%= @listing.title %></h2>

<p>Property type: <%= @listing.property_type%></p>

<p>Location: <%= @listing.location%></p>

<p>Rooms: <%= @listing.rooms%></p>

<p>Capacity: <%= @listing.capacity%></p>

<p>Description: <%= @listing.description%></p>

<p>Price: RM <%= @listing.price%></p>

<p>Availability: <%= @listing.available%></p>
<br>

<%if current_user == @listing.user %>
	<%= link_to 'Edit', edit_listing_path(@listing)%>
	<br>
	<%= link_to 'Delete', listing_path(@listing), data: {turbo_method: :delete, turbo_confirm: "Delete listing?"}%>
<%else%>
	<p><%= link_to 'Add booking', new_booking_path(listing_id: @listing.id)%></p>
	<p><%= link_to 'Make review', new_review_path(listing_id: @listing.id)%></p>

<%end%>

<h4>Reviews</h4>

<%if @listing.reviews.any?%>
	<ul>
		<li>
			<% @listing.reviews.each do |review|%>
			<%= review.comment%>
			<%= review.user.name%>
			
			<%review.created_at%>
			<%end%>
		</li>
	</ul>
<%else%>
	No review.
<%end%>
<br>
<button><%= link_to 'Listing', listings_path(@listings)%></button>
