<h2>Title: <%= @listing.title %></h2>
<br>
<button><%= link_to 'Back to Listing', listings_path(@listings)%></button>

<center><% if @listing.photos.attached? %>
	<% @listing.photos.each do |photo|%>
		<%= image_tag photo %>
	<% end %>
<% else %>
	<p>No photo found</p>
<% end %>


<p>Property type: <%= @listing.property_type%></p>

<p>Location: <%= @listing.location%></p>

<p>Rooms: <%= @listing.rooms%></p>

<p>Capacity: <%= @listing.capacity%></p>

<p>Description: <%= @listing.description%></p>

<p>Price: RM <%= @listing.price%></p>

<p>Availability: <%= @listing.available%></p>
<br>


<%if current_user == @listing.user %>
	<%= link_to 'Edit', edit_listing_path(@listing)%>
	<br>
	<%#= button_to "Delete1", listing_path(@listing), method: :delete%>
	<%= button_to 'Delete', listing_path(@listing), method: :delete, data: {turbo_method: :delete, turbo_confirm: "Delete Listing?" }%>
<%else%>
	<p><%= link_to 'Add booking', new_booking_path(listing_id: @listing.id)%></p>
	<p><%= link_to 'Make review', new_review_path(listing_id: @listing.id)%></p>
<%end%>

<h4>Reviews</h4>
<%if @listing.reviews.any?%>
	<ul>
		<% @listing.reviews.each do |review|%>
		<li>
			<%= review.comment%>
			<%= review.user.email%>
			<%= review.created_at%>
			<br>
		</li>
			<%end%>
	</ul>
<%else%>
	No review.
<%end%>
</center>

<br>
