<h2>Booking</h2>

<%= form_with model: @booking do |f| %>
	<%= f.date_field :check_in%>
	<%= f.date_field :check_out%>

	<%= f.hidden_field :listing_id, value: @listing.id%>
	<%= f.submit 'Book' %>
<%end%>
<br>
<button><%= link_to 'Back to Listing', listings_path(@listings)%></button>
	
